<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio Manager</title>
        <style>
                body{background: #003300; font-family: ubuntu; color: #ffffff; padding: 30px;}
                h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
                h2{font-size: 32px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
                p{font-size: 16px; line-height: 0.6; text-align: center;}
        </style>
    </head>

    <body>
        <p style="text-align: right;"><a href="/logout" style="color: white">
            Logout</a></p>
        <p style="font-size: 48px;"><%= name[0].ShareName %></p>
        <p style="font-size: 25px">Symbol : <%= symbol %></p>
        <p style="font-size: 20px">Current price : $
            <% for(x in data["Time Series (1min)"]) { %>
                <% var price = data["Time Series (1min)"][x]["4. close"]; %>
                <%= Number((1.0*price).toFixed(2)).toLocaleString() %>
                <% break; %>
            <% } %>        
        </p>
        
        <p style="font-size: 25px;">You currently have <%= Number(current).toLocaleString() %> 
            share<% if (current != 1) { %>s<% } %></p>
        <br>
        <p style="font-size: 20px;">Net Worth : $ <%= Number((current*price).toFixed(2)).toLocaleString() %></p>
        <p style="font-size: 20px;">Total Invested : $ <%= Number(invested.toFixed(2)).toLocaleString() %></p>
        <p style="font-size: 20px;">Total Returns : $ <%= Number(returns.toFixed(2)).toLocaleString() %></p>
        <p style="font-size: 20px;">Total Profit/Loss (Including Net Worth) : $ <%= Number((current*price + returns - invested).toFixed(2)).toLocaleString() %></p>
        <br>
        <div style="text-align: center;">
            <% if (inWatchList == false) { %>
                <form action="/add" method="POST">
                    <button name="symbol" value="<%= symbol %>">Add to Watch List</button>
                </form>
            <% } %>
            <% if (inWatchList == true) { %>
                <form action="/remove" method="POST">
                    <button name="symbol" value="<%= symbol %>">Remove from Watch List</button>
                </form>
            <% } %>

            <br>
            <br>
            <form action="/buy" method="POST">
                <input type="number" name="quantity" min="1" value="0">&nbsp;
                <input type="hidden" name="symbol" value="<%= symbol %>">
                <input type="hidden" name="price" value="<%= price %>">
                <input type="submit" name="buy" value="Buy">
            </form>

            <br>
            <form action="/sell" method="POST">
                <input type="number" name="quantity" min="1" max="<%= current %>" value="0">&nbsp;
                <input type="hidden" name="symbol" value="<%= symbol %>">
                <input type="hidden" name="price" value="<%= price %>">
                <input type="submit" name="sell" value="Sell">
            </form>
        </div>
    </body>
</html>
